$grey-light:			#F3F6F8;
$grey: 					#666;
$blue-sky: 				#33ABFF;
$green-light:			#82BAC6;




$primary-color: 		white;
$secundary-color: 		$grey;
$tertiary-color: 		$blue-sky;
$quaternary-color:      $green-light;
$background-color:		$grey-light;
