.about{
	padding: 0 5%;
	&__title{
		font-family: 'Montserrat', sans-serif;
		font-weight: 800;
		@include font-size(44px);
		margin: 0;
	}
	&__second-title{
		font-family: 'Montserrat', sans-serif;
		font-weight: 800;
		@include font-size(44px);
		color: $tertiary-color;

	}
	&__description{
		font: 14px 'Open Sans', sans-serif;
		color: $secundary-color;	
		@include font-size(18px);
	}
	&__image{
		width: 100%;
		max-width: 520px;
	}
}