.service-header{
	text-align: center;
	padding-bottom: 50px;
	background: $primary-color;
	&__image{
		height: 66px;
		width: 66px;	
	}
	&__title{
		font-family: 'Grand Hotel', cursive;
		@include font-size(54px);
		font-weight: normal;
		margin-top: 0;
		margin-bottom: 10px;
	}
	&__sub-title{
		margin-top: 0;
		font-family: 'Montserrat', sans-serif;
		@include font-size(14px);
		color: $secundary-color;
	}
}

.service{
	background: $background-color;
	text-align: center;
	&__item{
		padding-top: 70px;
	}
	&__circle{
		height: 80px;
		width: 80px;
		display: inline-block;
		border: 1px solid;
		border-radius: 50%;
		transition: 0.7s;
		&:hover{
			background-color: $primary-color;
		}
	}
	&__icon{
		color: $secundary-color;
		font-size: 31px;
		display: inline-block;
		padding: 22px
	}
	&__title{
		font-family: 'Montserrat', sans-serif;
		@include font-size(15px);
		font-weight: bold;
	}
	&__content{
		color: black;
		text-align: left;
		font: 14px 'Open Sans', sans-serif;
		@include font-size(14px);
		color: $secundary-color;
	}
}

.service-button{
	background-color: $primary-color;
	margin-top: 50px;
	margin-bottom: 50px;
	padding-top: 50px;
}